.direct-access-navigation
  li
    width 100px
    height 100px
    float left
    margin-right 10px
    background-color #00b7ff

    &:nth-of-type(odd)
      background-color red



@media only screen and (max-device-width: 667px)
  .direct-access-navigation
    width 100% !important

    ul.swiper-wrapper
      width 100% !important

    li
      col(1/4, cycle: 4)
      margin-top 10px

@media only screen and (max-device-width: 667px) and (orientation: landscape)
  .direct-access-navigation
    li
      col(1/7, cycle: 6)


@media only screen and (min-device-width: 668px)
  .direct-access-navigation
    overflow hidden
    padding 10px

    ul
      width 3000px !important

    &.swiper-container
      width 100%
