.direct-access-navigation
  overflow hidden

  ul
    width 3000px
  li
    width 100px
    height 100px
    float left
    margin-right 10px
    background-color #00b7ff


+below(mobile-landscape)
  .direct-access-navigation
    overflow visible

    ul
      width auto

    li
      col(1/3, cycle: 3)
      margin-top 10px
