.direct-access-navigation
  li
    width 100px
    height 100px
    float left
    margin-right 10px
    background-color #00b7ff



+below(mobile-landscape)
  .direct-access-navigation
    li
      col(1/3, cycle: 3)
      margin-top 10px

+from(mobile-landscape)
  .direct-access-navigation
    overflow hidden
    padding 10px

    ul
      width 3000px !important

    &.swiper-container
      width 100%
