.favourite-access-navigation
  overflow hidden

  // li
  //   display none
  //   // span(3/12)
  //
  //   &:first-of-type
  //     display block


  .favourite

    display block
    width 100%
    height 300px

    &.fav-1
      background-color #e93e0a
    &.fav-2
      background-color #16db3d
    &.fav-3
      background-color #e207bb

+retina()
  .favourite
    height 600px

.swiper-container, .swiper-slide
  width 100%
