.favourite-access-navigation
  overflow hidden

  // li
  //   display none
  //   // span(3/12)
  //
  //   &:first-of-type
  //     display block


  .favourite

    display block
    width 100%
    height 300px

    &.fav-1
      background-color #e0886d
    &.fav-2
      background-color #7507e2
    &.fav-3
      background-color #e207a4

// +below(mobile-landscape)
//   .favourite-access-navigation
//     overflow visible
//
//     li
//       margin-top 10px
//       height 100px
//       display block
//       col(1/3, cycle: 3)
//       margin-top 10px


.swipe
  overflow hidden
  visibility hidden
  position relative

.swipe-wrap
  overflow hidden
  position relative

.swipe-wrap > li
  float left
  width 100%
  position relative
