.clock-presenter, .weather-presenter
  width 100%
  height 130px
  background-color #92c8d3

.clock-presenter
  margin-bottom 40px

+below(portrait-tablet-width)
  .clock-presenter, .weather-presenter
    col(2/4)
