dashboard-footer-bg = #acdbf5

.dashboard-footer
  position absolute
  bottom 0
  left 0
  width 100%
  background-color dashboard-footer-bg


+below(mobile-landscape)
  .dashboard-footer
    center(1900, 2em)
    position static
    background-color transparent
