dashboard-header-bg = #000

.dashboard-header
  width 100%
  height 2em // temporary fix
  background-color dashboard-header-bg

// @media only screen and (max-device-width: 667px)
//   .dashboard-header
//     display none
